---
const { ranking, songUrl, artist, title, albumUrls } = Astro.props;
---

<a
  href={songUrl}
  class="pr-1 overflow-hidden group duration-400 ease rounded relative inline-grid cursor-pointer group border hover:border-neutral-500 border-neutral-300 dark:border-neutral-800 dark:hover:border-neutral-600 w-full"
  target="_blank"
  rel="noopener noreferrer"
>
  <span
    class="absolute right-2 top-0 text-sm font-bold transition-opacity ease-in-out duration-400 opacity-40 group-hover:opacity-80"
  >
    {ranking}
  </span>
  <div class="flex gap-3 items-center">
    <img width="150" height="150" src={albumUrls[0]} alt="album art" />
    <div class="flex-1 flex flex-col truncate">
      <span
        class="underline decoration-green-300 decoration-2 transition-opacity ease-in-out duration-400 text-black dark:text-white opacity-60 group-hover:opacity-100 truncate w-full"
      >
        {title}
      </span>
      <span
        class="transition-opacity ease-in-out duration-400 opacity-40 group-hover:opacity-80 mb-4 truncate w-full"
        color="neutral.500"
      >
        {artist}
      </span>
    </div>
  </div>
</a>
